.production-cases-section {
  margin-bottom: 200px;
}
.main__title.production_cases {
  font-family: 'AsgardWide';
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateY(20px);

  text-align: right;
}
.container.production_cases {
  display: flex;
}

.production_contact_fire {
  position: absolute;
  right: 0;

  top: -190px;

  mix-blend-mode: lighten;
}
.container.production_cases {
  display: flex;
  gap: 36px;
}

.production__galery_container {
  flex-grow: 1;
}
