.aboutus-section {
  padding-top: 72px;
  display: flex;
}
.aboutus_container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding-top: 28.5px;
}
.aboutus__wrapper {
  display: flex;
  gap: 181px;
}
.aboutus-highlight-image {
  position: absolute;
  left: 0;
  top: 160px;

  z-index: 0;
  mix-blend-mode: lighten;
}

.aboutus__content {
  margin-top: 192px;
}
.aboutus__description {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;

  color: #ffffff;

  margin-bottom: 45px;
}
.aboutus__services {
  display: flex;
  justify-content: space-between;

  margin-bottom: 62px;

  max-width: 1180px;
}
.services__service__item {
  font-family: 'AsgardWide';
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  text-transform: uppercase;

  color: #ffffff;
}
/* .human-img {
  margin: 0 auto;
} */
.aboutus__human-container {
  text-align: center;
  /* display: flex;
  justify-content: center; */
}
.willstar__item__text {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;

  color: var(--gray);

  width: 223px;

  text-align: right;
}

.aboutus__willstar__item {
  display: flex;
  gap: 28px;
  align-items: flex-start;
}

.two-lines_container {
  position: relative;
  top: 70px;
  left: 4px;
}
.aboutus__willstar___items_top {
  position: absolute;

  top: 60px;
  right: 14.6%;
  display: flex;
}
.willstar__item1 {
  flex-direction: row-reverse;
}

.willstar__item2 {
  position: relative;
  right: -14px;
  top: 50px;
}
.willstar__item2 > .willstar__item__text {
  text-align: left;
}
.willstar__item3 {
  flex-direction: row-reverse;
}

.aboutus_side-letter {
  display: flex;

  align-items: flex-end;
  flex-direction: column-reverse;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-bottom: 207px;
  /* padding-right: 80px; */
}

.aboutus_side-letter_main {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'AsgardWide';
  font-weight: 700;
  font-size: 157.187px;
  line-height: 189px;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  /* identical to box height */

  color: #ffffff;
}
.aboutus_side-letter_hashtag_container {
  writing-mode: vertical-lr;

  margin: 32px 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: #ffffff;

  overflow: hidden;
  height: 386px;

  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.advantages__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
  top: -214px;
}
.advantages__title {
  font-family: 'AsgardWide';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;

  margin-bottom: 60px;
  margin-left: 150px;
}
.advantages__item_container {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 179px;
}
.advantages__item_top {
  display: flex;
  position: relative;
  height: 138px;
}

.advantages__item_top_letter {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: var(--pink);

  position: absolute;
}
.advantages__item_top_icon {
  position: relative;
  z-index: 1;
}
.advantages__item_top_icon::before {
  position: absolute;
  content: '';
  display: block;
  width: 74px;
  height: 74px;
  top: calc(50% - 37px);
  left: calc(50% - 37px);
  background: rgba(188, 125, 199, 0.66);
  filter: blur(58px);
}
.advantages__item_bottom {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  width: 179px;
  color: #ffffff;
}

.advantages__item1 .advantages__item_top_letter {
  top: -7px;
  left: -3px;
}
.advantages__item1 > .advantages__item_top {
  display: flex;
  justify-content: flex-end;
  margin-right: -5px;
}

.advantages__item2 .advantages__item_top_letter {
  top: -16px;
  right: 8px;
  text-align: right;
}
.advantages__item2 > .advantages__item_top {
  justify-content: center;
}

.advantages__item3 .advantages__item_top_letter {
  bottom: 20px;
  left: 10px;
}
.advantages__item3 > .advantages__item_top {
  justify-content: center;
}

.advantages__item4 .advantages__item_top_letter {
  top: 10px;
  left: 8px;
}
.advantages__item4 > .advantages__item_top {
  padding-right: 8px;
  justify-content: flex-end;
}

.advantages__item5 .advantages__item_top_letter {
  bottom: 14px;
  right: -18px;
  text-align: center;
}
.advantages__item5 > .advantages__item_top {
  padding-left: 16px;
  justify-content: flex-start;
}

.advantages__item6 .advantages__item_top_letter {
  bottom: 26px;
  right: -2px;
  text-align: right;
}
.advantages__item6 > .advantages__item_top {
  padding-left: 16px;
  justify-content: flex-start;
}
.advantages__item6 .advantages__item_top_icon {
  position: relative;
  top: -6px;
}
.aboutus__willstar___items_bottom {
  position: absolute;
  bottom: 366px;
  right: 645px;
  display: flex;
  flex-direction: row-reverse;
}
.line_container {
  position: relative;
  top: -30px;
  right: -20.5px;
}
.willstar__item3 {
  flex-direction: row-reverse;
}
.advantages__item_top_icon::before {
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-direction: alternate;

  will-change: opacity transform;
}

.advantages__item1 .advantages__item_top_icon::before {
  animation-delay: 0.6s;
}
.advantages__item2 .advantages__item_top_icon::before {
  animation-delay: 2.4s;
}
.advantages__item3 .advantages__item_top_icon::before {
  animation-delay: 0s;
}
.advantages__item4 .advantages__item_top_icon::before {
  animation-delay: 1.2s;
}
.advantages__item5 .advantages__item_top_icon::before {
  animation-delay: 1.8s;
}

@keyframes flashing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media screen and (max-width: 1800px) {
  .aboutus__willstar___items_top {
    right: 10.5%;
  }
  .aboutus__willstar___items_bottom {
    right: 585px;
  }
}
@media screen and (max-width: 1700px) {
  .aboutus__wrapper {
    gap: 100px;
  }
}
@media screen and (max-width: 1600px) {
  .aboutus_side-letter_main {
    font-size: 119.878px;
    line-height: 144px;

    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
  }

  .aboutus_side-letter_hashtag_container {
    font-size: 15.2528px;
    line-height: 23px;
  }

  .aboutus__description {
    font-size: 15.2528px;
    line-height: 31px;

    margin-bottom: 30px;
  }
  .services__service__item {
    font-size: 15.2528px;
    line-height: 31px;
  }
  .aboutus__services {
    margin-bottom: 45px;
  }
  .aboutus__wrapper {
    gap: 60px;
  }

  .advantages__title {
    font-size: 68.6377px;
    line-height: 82px;
  }

  .advantages__item_top_letter {
    font-size: 22.8792px;
    line-height: 23px;
  }
  .advantages__item_bottom {
    font-size: 13.7275px;
    line-height: 23px;
  }
  .advantages__item_top {
    height: 104px;
    margin-bottom: 10px;
  }
  .advantages__item_top img {
    height: 104px;
    width: 104px;
  }
  .human-img {
    width: 835px;
    height: 830px;
  }
  /* 0,75362318840579710144927536231884 */
}

@media screen and (max-width: 1600px) {
  .advantages__item_top_icon::before {
    width: 56px;
    height: 56px;

    filter: blur(44.2332px);
  }
  .two-lines_container > svg {
    width: 275px;
    height: 78px;
  }
  .aboutus__willstar___items_top {
    top: 34px;
    right: 14%;
  }
  .aboutus__services {
    gap: 75px;
    justify-content: unset;
  }
  .willstar__item__text {
    font-size: 12.2023px;
    line-height: 19px;
  }
  .willstar__item__logo > svg {
    width: 76px;
    height: 64px;
  }
  .aboutus__willstar__item {
    gap: 21px;
  }
  .aboutus__willstar___items_bottom {
    bottom: 280px;
    right: 600px;
  }
  .advantages__item1 .advantages__item_top_letter {
    left: 45px;
  }
  .advantages__item2 .advantages__item_top_letter {
    right: 28px;
    top: -12px;
  }
  .advantages__item3 .advantages__item_top_letter {
    bottom: 14px;
    left: 26px;
  }
  .advantages__item4 .advantages__item_top_letter {
    left: 48px;
  }
  .advantages__item5 .advantages__item_top_letter {
    right: 18px;
  }
  .advantages__item6 .advantages__item_top_letter {
    right: 45px;
  }

  .aboutus-highlight-image {
    height: 1017px;
    /* top: -80px; */
  }

  .advantages__container {
    top: -160px;
  }
}

@media screen and (max-width: 1500px) {
  .aboutus__willstar___items_top {
    right: 6%;
    top: 30px;
  }
  .aboutus__willstar___items_bottom {
    bottom: 280px;
    right: 550px;
  }
  .aboutus-highlight-image {
    transform: translateY(-100px);
  }
}
