.cases__slider_container_mobile {
  display: none;
}
.cases-section {
  margin-bottom: 250px;
}
.cases_main__title {
  margin-bottom: -30px;
  position: relative;
  top: -24px;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.cases__description {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;

  color: #ffffff;

  margin-bottom: 112px;
}

.cases__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 53px;
}
.cases__slider_container {
  /* width: 830px; */
  overflow: hidden;

  display: flex;
  align-items: flex-end;
}
.slider_description_data {
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  align-items: center;
  margin-bottom: 50px;

  align-content: flex-start;
  height: 92px;
}

.slider_description_number {
  font-family: 'AsgardFit';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;

  /* height: 92px; */
  max-height: 100%;
}
.slider_description_name {
  font-family: 'AsgardWide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  max-height: 100%;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.slider_description_logo {
  align-self: flex-end;

  display: none;
}

.slider__bottom_text {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;

  color: #ffffff;
}

.cases__progress_bar {
  position: absolute;
  bottom: 0;
  /* width: 634px; */
}

.carousel__btn {
  cursor: pointer;
}
.carousel__btn > svg > path {
  transition: all 0.3s ease;
}
.carousel__btn:hover > svg > path {
  fill: transparent !important;
  stroke: #ffffff !important;
  stroke-width: 2px !important;
}

.carousel_btns {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cases__carousel_btn_next {
  margin-bottom: 33px;
}
@media screen and (max-width: 1600px) {
  .cases-section,
  .residents-section {
    margin-bottom: 191px;
  }
  .progress_bar {
    width: 484px;
  }
  .cases_main__title {
    top: -16px;
  }
  .cases__wrapper {
    gap: 40px;
  }
  .cases__description {
    font-size: 13.7275px;
    line-height: 27px;

    margin-bottom: 85px;
  }
  .slider_description_data {
    gap: 28px;
  }
  .slider_description_number {
    font-size: 76.2641px;
    line-height: 92px;
  }
  .slider_description_name {
    font-size: 28.9804px;
    line-height: 35px;

    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
  }
  .slider_description_logo > img {
    transform: scale(0.85);
  }
  .slider__bottom_text {
    font-size: 13.7275px;
    line-height: 27px;

    margin-bottom: 82px;
  }

  .carousel__btn > svg {
    width: 34px;
    height: 52px;
  }
  .cases__carousel_btn_next {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .cases__slider_container {
    display: none;
  }
  .main__title.cases_main__title {
    font-size: 57px;
    line-height: 68px;

    margin-bottom: 30px;
  }
  .cases_main__title {
    position: static;
  }
  .cases__description {
    font-size: 14px;
    line-height: 27px;

    margin-bottom: 30px;
  }
  .cases__wrapper {
    display: flex;
    flex-direction: column;
  }
  .cases__slider_container_mobile {
    display: block;
  }
  .cases__slider_container_mobile {
    margin-bottom: 38px;
  }
  .cases__progress_bar_mobile {
    margin-bottom: 33px;
    max-width: 100%;
  }
  .slider_description_data {
    margin-bottom: 12px;
  }
  .slider_description_number {
    font-size: 42.6835px;
    line-height: 51px;
    -webkit-text-stroke: 0.85px;
    -webkit-text-stroke-width: 0.85px;
  }
  .slider_description_name {
    font-size: 16.2197px;
    line-height: 19px;
    -webkit-text-stroke: 0.85px;
    -webkit-text-stroke-width: 0.85px;
  }
  .slider__bottom_text {
    font-size: 14px;
    line-height: 27px;
  }
  .carousel__btn svg {
    width: 31px;
    height: 47px;
  }
  .cases__carousel_btn_next {
    margin-bottom: 23px;
  }
  /* .carousel_btns {
    bottom: 40px;
  } */
  .cases__progress_bar {
    display: none;
  }
  .slider__bottom_text.cases {
    max-width: 203px;
    margin-bottom: 0;
  }
  .cases-section {
    margin-bottom: 80px;
    position: relative;
    z-index: 9;
  }
  .slider_description_number.cases {
    margin-right: 16px;
  }
}
