.first__section_mobile_bg,
.first__section_content_mobile {
  display: none;
}
.scrollable-area {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
  background-color: var(--bg-color);
}
.first-section.fixed {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  /* height: 100vh; */
  /* bottom: 0;s */
}
.first-section {
  /* padding-bottom: 88px; */
  padding-top: 72px;

  height: 100vh;
}

.first__section_content {
  position: absolute;
  bottom: 40px;
}

.iphone-left,
.iphone-middle,
.iphone-right,
.iphone-left1600,
.iphone-middle1600 {
  position: absolute;
  z-index: 0;
}
.iphone-left {
  top: 0;
  left: 196px;
}
.iphone-middle {
  bottom: 0;
  left: calc(50% - 135px);

  max-height: 85%;
}
.iphone-right {
  right: 0;
  top: 200px;
}
/* .hash-tags-container {
  width: 30px;
  height: 365px;
  position: relative;

  margin-top: 49px;
  margin-bottom: 10px;

  margin-left: -15px;
} */
.hash-tags {
  position: relative;
  width: 30px;

  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 32px 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: #ffffff;

  height: 386px; /*  optional */
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.hast-tags-inner,
.hast-tags-inner-clone {
  height: 100%;
  transform: translate(100%, 0);
}
.hast-tags-inner {
  position: absolute;
  top: 0;
  animation: marquee 4s infinite linear forwards;
}
.hast-tags-inner-clone {
  top: 0;
  animation: 4s marquee 2s infinite linear forwards;
}
.hash-tags__item {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: #ffffff;
}

.main-text {
  font-family: 'AsgardWide';
  font-weight: 700;
  font-size: 157.187px;
  line-height: 189px;
  color: #fff;
  /* border: 2px solid #ffffff; */

  margin-bottom: 14px;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.additional-text {
  font-family: 'AsgardFit';
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;

  margin-bottom: 50px;
}

.sound-controller {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;

  position: absolute;
  width: 39px;
  bottom: 88px;
  right: 120px;
}

.sound-controller__text-container {
  width: 30px;
  height: 98px;
  position: relative;
}
.sound-controller__text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  white-space: nowrap;

  transform: rotate(-90deg);

  position: absolute;
  top: calc(50% - 15px);
  left: calc(-98px / 2 + 15px);
}

.sound-controller__icon {
  cursor: pointer;
}

.running_string {
  display: inline-block;
  height: 160px;
  transform: translateY(30px);
  overflow: hidden;
}
.running_string_inner {
  transform: translateY(0%);
}
.running_string_inner.animated1 {
  animation-name: running_string1;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
.running_string_inner.animated2 {
  animation-name: running_string2;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
.running_string_inner_item {
  height: 160px;
  display: flex;
  align-items: center;
}
.iphone-left img,
.iphone-middle img,
.iphone-right img,
.iphone-left1600 img,
.iphone-middle1600 img {
  width: 100%;
  height: 100%;
}
@keyframes running_string1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes running_string2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes running_string_mobile1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes running_string_mobile2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.iphone-left1600 {
  display: none;
}
.iphone-middle1600 {
  display: none;
}
@media screen and (max-width: 1850px) {
  .iphone-left {
    /* width: 520px; */
    left: 150px;
  }

  .iphone-middle {
    /* width: 520px; */
  }

  .iphone-right {
    /* height: 480px; */
  }
}
@media screen and (max-width: 1750px) {
  .iphone-left {
    width: 500px;
  }

  .iphone-middle {
    width: 500px;
  }

  .iphone-right {
    height: 500px;
  }
}
@media screen and (max-width: 1600px) {
  .iphone-left1600 {
    top: 0;
    display: block;
    left: 156px;
  }
  .iphone-middle1600 {
    display: block;
    left: calc(50% - 100px);
    bottom: 0;
  }

  .iphone-left {
    width: 418px;
    height: 512px;
    display: none;
  }

  .iphone-middle {
    width: 418px;
    height: 820px;
    left: calc(50% - 85px);
    display: none;
  }

  .iphone-right {
    height: 418px;
  }

  .first-section {
    padding-top: 60px;
  }
  .main-text {
    font-size: 117.649px;
    line-height: 141px;

    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-width: 1.5px;
  }
  /* .main-text {
    margin-bottom: 44px;
  } */
  .additional-text {
    /* margin-bottom: 111px; */
  }
  .running_string {
    transform: translateY(45px);
  }
  /* .header__social__item > svg,
  .header__logo > svg {
    transform: scale(0.73);
  } */
  .sound-controller__text-container {
    font-size: 14.9692px;
    line-height: 22px;
  }
  .sound-controller__icon > svg {
    width: 29px;
    height: 22px;
  }
}

@media screen and (max-width: 1400px) {
  /* .iphone-left {
    width: 340px;
    left: 206px;
    height: auto;
  }

  .iphone-middle {
    width: 340px;
    height: auto;
  } */
  .iphone-left1600 {
    width: 340px;
  }
  .iphone-middle1600 {
    width: 340px;
  }
  .iphone-right {
    height: 340px;
  }
}

@media screen and (max-width: 768px) {
  .iphone-right,
  .iphone-left1600,
  .iphone-middle1600,
  .header,
  .hash-tags,
  .sound-controller,
  .first__section_content {
    display: none;
  }
  .first__section_mobile_bg {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  .first__section_content_mobile {
    display: flex;
    position: absolute;
    bottom: 37px;
    gap: 10px;
    height: calc(100% - 68px);
  }
  .first__section_content_mobile_left {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .main-text {
    font-size: 90px;
    line-height: 120%;
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-width: 1.2px;

    height: auto;
    margin-bottom: 0;

    overflow: hidden;
    height: 100%;
  }
  .additional-text {
    font-size: 18.7115px;
    line-height: 38px;

    /* margin-bottom: 30px; */
    margin-bottom: 0;

    /* max-width: 171px; */
  }
  .first__section_content_mobile_right {
    display: flex;
    flex-direction: column;

    gap: 30px;

    align-items: flex-start;
    justify-content: flex-end;
  }
  .running_string_inner_item {
    height: auto;
  }
  .running_string_inner.animated1 {
    animation-name: running_string_mobile1;
    animation-duration: 0.6s;
    animation-timing-function: linear;
  }
  .running_string_inner.animated2 {
    animation-name: running_string_mobile2;
    animation-duration: 0.6s;
    animation-timing-function: linear;
  }
  .running_string {
    transform: translateY(0);
    overflow: visible;
  }
  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  .first-section {
    padding-top: 50px;
  }
  .header_burger {
    cursor: pointer;
  }
  .first__section_mobile_shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 396px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  /* .first-section.container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  } */
}
