.container.footer {
  display: flex;
  flex-direction: column;
}
.section.footer {
  padding-left: 24px;

  margin-bottom: 234px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 78px;
}
.footer__wrapper_left {
  display: flex;
  gap: 102px;
}
.footer_left_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__wrapper_right {
  display: flex;
  gap: 106px;
}

.footer_right_item.links,
.footer_right_item.social {
  display: flex;
  gap: 50px;
}

.footer_link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;

  color: #ffffff;
}

.footer_bottom_logo {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */
  letter-spacing: 0.24em;
  text-transform: uppercase;

  color: #484848;
  display: flex;
  justify-content: center;
}

.footer_bottom_logo {
  margin-bottom: 126px;
}
.footer__wrapper_right {
  align-items: center;
}
.footer__center {
  position: absolute;
  left: calc(50% - 88.5px);
}

@media screen and (max-width: 1600px) {
  .footer__wrapper_right {
    gap: 81px;
  }
  .footer_left_item {
    gap: 13px;
  }
  .footer_link {
    font-size: 13.7275px;
    line-height: 20px;
  }
  .footer__wrapper_left {
    gap: 78px;
  }
  .footer_right_item > svg {
    width: 134.99px;
    height: 25.17px;
  }
  .footer_right_item.links,
  .footer_right_item.social {
    gap: 38.4px;
  }
  .footer_bottom_logo {
    font-size: 15.2528px;
    line-height: 23px;
  }
  .footer__wrapper {
    margin-bottom: 52.78px;
  }
  .footer_bottom_logo {
    margin-bottom: 96px;
  }
  .footer_right_item.social svg {
    width: 21.35px;
    height: 21.35px;
  }
}
