.influence-section {
  margin-bottom: 420px;
  z-index: 2;
}
.influence__wrapper {
  display: flex;
  gap: 36px;
}

.cases__description > p {
  margin-bottom: 14px;
}

.cases__description > p:last-child {
  margin-bottom: 0;
}

.influence__description {
  margin-bottom: 69px;
}

.influence__slider_container {
  width: 390px;
  /* height: 796px; */
}
.influence.slider_description_data {
  margin-bottom: 92px;
}

.influence__progress_bar {
}
/* .influence-carousel {
  height: 100% !important;
} */
/* .influence-carousel .owl-item {
  width: unset !important;
} */
