.production-section {
  padding-bottom: 327px;
}
.container.production {
  /* padding-left: 23px; */
  padding-right: 10px;
}
.main__title.production {
  margin-bottom: 11px;

  z-index: 4;
}

.cases__description.production {
  max-width: 845px;

  margin-bottom: 0;
}

.production__hightlight,
.production__background {
  position: absolute;
}

.production__hightlight {
  mix-blend-mode: lighten;
  right: -85px;
  top: -255px;
}
.production__background {
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */

  top: -170px;
  right: 110px;

  /* z-index: 5; */
}
.production__bottom {
  display: flex;
  justify-content: space-between;

  z-index: 4;
}

.main_btn.production {
  z-index: 3;
  /* height: 90px; */
  /* justify-self: flex-end; */
  align-self: flex-end;
  /* margin-right: 49px; */
}
