.production-section {
  padding-bottom: 327px;

  /* overflow: hidden; */
}
.container.production {
  /* padding-left: 23px; */
  padding-right: 10px;
}
.main__title.production {
  margin-bottom: 11px;

  z-index: 4;
}

.cases__description.production {
  max-width: 845px;

  margin-bottom: 0;
}

.production__hightlight,
.production__background {
  position: absolute;
}

.production__hightlight {
  mix-blend-mode: lighten;
  /* right: -85px; */
  right: 0;
  top: -255px;
}
.production__background {
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */

  top: -170px;
  right: 5.78034%;

  /* z-index: 5; */
}
.production__bottom {
  display: flex;
  justify-content: space-between;

  z-index: 4;

  padding-right: 75px;
}

.main_btn.production {
  z-index: 3;
  /* height: 90px; */
  /* justify-self: flex-end; */
  align-self: flex-end;
  /* margin-right: 49px; */
}

@media screen and (max-width: 1700px) {
  .production__background {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .production__hightlight {
    display: none;
  }
  .main__title.production {
    font-size: 52.8088px;
    line-height: 57px;

    margin-bottom: 80px;
  }
  .production__bottom {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;

    gap: 81px;
  }
  .main_btn.production {
    align-self: flex-start;
  }
  .production-section {
    margin-bottom: 84px;
    overflow: hidden;
    padding-bottom: 0;
  }
  .production__background {
    width: 200%;
    top: 0;
    left: -70%;
  }
}
