.residents-section {
  margin-bottom: 250px;
}
.main__title.residents_mobile,
.residents_btn_mobile {
  display: none;
}
.container.residents {
  z-index: 9;
  position: relative;
}
.residents.main__title {
  margin-bottom: 39px;
}

.residents__cards_container {
  display: flex;
  justify-content: center;
  gap: 61px;

  margin-bottom: 110px;

  height: 436px;

  flex-wrap: wrap;

  overflow: hidden;
}
.residents__cards_container.opened {
  height: auto;
}
.residents__card {
  width: 287px;
  display: block;
}

.residents__card_image {
  margin-bottom: 22px;
}

.residents__card_name {
  font-family: 'AsgardFit';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;

  text-transform: uppercase;
  margin-bottom: 20px;
}

.residents_card_social {
  display: flex;
  gap: 25px;

  justify-content: center;
}

.residents_card_social_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 53px;
}
/* .residents_social_icon {
  width: 18px;
  height: 18px;
  display: block;
} */
.residents_social_subs {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
}
.residents_social_icon {
  margin-bottom: 3px;
}

.residents__card_bordered.bordered {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.residents__btn_container {
  display: flex;
  justify-content: center;
}

.residents_btn {
  text-transform: lowercase;
}

.slider_description_name.influence {
  max-width: 974px;
}

.residents_fire {
  position: absolute;
  right: 0;
  top: -190px;
}

@media screen and (max-width: 1600px) {
  .residents__card_name {
    font-size: 19.066px;
    line-height: 24px;
  }
  .residents_social_subs {
    font-size: 11.4396px;
    line-height: 17px;
  }
  .residents_social_icon > svg {
    width: 14px;
    height: 14px;
  }
  .residents__card img,
  .residents__card {
    width: 218px;
  }
  .residents__cards_container {
    height: 345px;
    gap: 46px;

    margin-bottom: 66px;
  }
}
@media screen and (max-width: 768px) {
  .residents_fire {
    width: 80%;
    height: auto;
    top: -450px;
  }

  .main__title.residents {
    display: none;
  }
  .main__title.residents_mobile {
    display: block;
    margin-bottom: 55px;
  }
  .residents__cards_container {
    display: block;
    margin-bottom: 55px;
  }
  .residents__cards_container .owl-stage {
    display: flex;
    flex-direction: row;
  }
  .residents_btn_mobile {
    display: block;
  }
  .residents_btn {
    display: none;
  }
  .residents-section {
    margin-bottom: 102px;
  }
}
