.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: transparent;

  align-items: center;
}

.header__menu__list {
  display: flex;
  gap: 82px;
}

.header__menu__item {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;

  color: #ffffff;
}
.header__social {
  display: flex;
  gap: 50px;
}
.header__social__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .header__menu__list {
    gap: 59px;
  }
  .header__menu__item {
    font-size: 13.4723px;
    line-height: 20px;
  }
  .header__social {
    gap: 37.78px;
  }
  .container .hash-tags {
    font-size: 14.9692px;
    line-height: 22px;

    margin-top: 32px;
    margin-bottom: 32px;
  }
}
